boto==2.38.0
dj-database-url==0.3.0
Django==1.8.5
django-bower==5.0.4
django-pipeline==1.5.4
django-storages==1.1.8
ecdsa==0.13
Fabric==1.10.2
futures==3.0.3
gunicorn==19.3.0
paramiko==1.15.3
psycopg2==2.6.1
pycrypto==2.6.1
six==1.9.0
